name: Build and publish Documentation

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Setup Python
              uses: actions/setup-python@v4
              with:
                python-version: '3.11'
            - name: Install Poetry
              uses: abatilo/actions-poetry@v2
            - name: Setup a local virtual environment (if no poetry.toml file)
              run: |
                poetry config virtualenvs.create true --local
                poetry config virtualenvs.in-project true --local
            - uses: actions/cache@v3
              name: Define a cache for the virtual environment based on the dependencies lock file
              with:
                path: ./.venv
                key: venv-${{ hashFiles('poetry.lock') }}
            - name: Install dependencies
              run: |
                poetry install --with doc
                source .venv/bin/activate
            - name: Build the documentation
              run: |
                source .venv/bin/activate
                pip list
                cd docs/
                python generate_visualization_examples.py
                make html
            - uses: actions/upload-artifact@v1
              with:
                name: DocumentationHTML
                path: docs/_build/html/

            - name: Commit documentation changes
              run: |
                git clone https://github.com/kschweiger/track_analyzer.git --branch gh-pages --single-branch gh-pages
                cp -r docs/_build/html/* gh-pages/
                cd gh-pages
                touch .nojekyll
                git config --local user.email "action@github.com"
                git config --local user.name "GitHub Action"
                git add .
                git commit -m "Update documentation" -a || true
                # The above command will fail if no changes were present, so we ignore
                # that.
            - name: Push changes
              uses: ad-m/github-push-action@master
              with:
                branch: gh-pages
                directory: gh-pages
                github_token: ${{ secrets.GITHUB_TOKEN }}